header {
    .bg-blue {
        background-color: $darkblue;

        .white-links {
            color: white;
            font-size: 0.8rem;
            margin-left: 15px;
        }
    }

    // header navbar
    .navbar {
        height: 120px;

        figure {
            width: 85px;
            height: 85px;

            a {
                padding: 0;
            }
        }

        ul a {
            padding: 0 15px;
            display: block;
            color: black;
            font-weight: bold;

            &.active,
            &:hover {
                color: $darkblue;
            }
        }

        .search {
            padding: 10px;
        }
    }

    .jumbo {
        height: 400px;
        background-image: url(../img/jumbotron.jpg);
    }
}
