#products {
    padding: 30px 0;
    min-height: 300px;
    color: white;
    background-color: $almostblack;

    h3 {
        padding: 15px;
        background-color: $darkblue;
        text-transform: uppercase;
        display: inline-block;
    }

    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;

        .product-card {
            flex-basis: calc(100% / 6);
            padding: 15px;
        }

        .load-more {
            padding: 15px;
            background-color: $darkblue;
            text-transform: uppercase;
            color: white;
        }

        figure img {
            display: block;
            width: 150px;
            height: 150px;
            object-fit: cover;
            object-position: top;
        }

        figcaption {
            margin-top: 15px;
            text-transform: uppercase;
        }
    }
}
