/* utils */
.container {
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-blue {
    padding: 15px;
    background-color: $darkblue;
    text-transform: uppercase;
    border-radius: 15px;
    color: white;
}
